
        <div class="mouse-pos-list-image no-select">
            <div class="mouse-pos-list-image-bounce overlay">
                <div class="float-image-wrap"></div>
            </div>
        </div>
        <div class="mouse-pos-list-btn no-select"></div>
        <div class="mouse-pos-list-span no-select">
            <p>عرض</p>
        </div>
        <!-- ===== Floating hamburger button (opens the side menu) ===== -->
        <div class="btn btn-hamburger">
            <div class="btn-click magnetic" data-strength="50" data-strength-text="25">
                <div class="btn-fill"></div>
                <div class="btn-text">
                    <div class="btn-bars"></div>
                    <span class="btn-text-inner">القائمة</span>
                </div>
            </div>
        </div>
        <div class="overlay fixed-nav-back"></div>
        <!-- ===== Side menu — navigation + social links ===== -->
        <div class="fixed-nav theme-dark">
            <div class="fixed-nav-rounded-div">
                <div class="rounded-div-wrap">
                    <div class="rounded-div"></div>
                </div>
            </div>
            <div class="fixed-nav-inner">
                <div class="row nav-row">
                    <h5>التنقّل</h5>
                    <div class="stripe"></div>
                    <ul class="links-wrap">
                        <li class="btn btn-link">
                            <a href="/ar/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">الرئيسية</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/about/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">من نحن</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/services/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">خدماتنا</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/#testimonials" class="btn-click magnetic" data-strength="24"
                                data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">آراء العملاء</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/work/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">أعمالنا</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/blog/ar/" class="btn-click magnetic" data-strength="24" data-strength-text="12" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">المدونة</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/contact/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                                <span class="btn-text">
                                    <span class="btn-text-inner">تواصل معنا</span>
                                </span>
                            </a>
                        </li>
                    <li class="btn btn-link btn-lang">
                            <a href="/work/" class="btn-click magnetic" data-strength="20" data-strength-text="10"
                                hreflang="en" lang="en" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">English</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row social-row">
                    <div class="stripe"></div>
                    <div class="socials">
                        <h5>التواصل الاجتماعي</h5>
                        <ul>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://www.instagram.com/zero2onedm?igsh=MTkwYmhnYjRxbHZoeA%3D%3D&amp;utm_source=qr"
                                    target="_blank" class="btn-click magnetic" data-strength="20"
                                    data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-instagram"></span>
                                        <span class="btn-text-inner">Instagram</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://x.com/zero2onedm?s=11" target="_blank" class="btn-click magnetic"
                                    data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-x"></span>
                                        <span class="btn-text-inner">X</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://www.tiktok.com/@zertoone.1?_r=1&amp;_t=ZS-97JmFf4coq4" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-tiktok"></span>
                                        <span class="btn-text-inner">Tiktok</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://www.facebook.com/profile.php?id=61589798120586" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-facebook"></span>
                                        <span class="btn-text-inner">Facebook</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://www.youtube.com/@zeroto-one-01" target="_blank"
                                    class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-youtube"></span>
                                        <span class="btn-text-inner">Youtube</span>
                                    </span>
                                </a>
                            </li>
                            <li class="btn btn-link btn-link-external">
                                <a href="https://www.linkedin.com/in/%D9%85%D9%86-%D8%A7%D9%84%D8%B5%D9%81%D8%B1-%D8%A7%D9%84%D9%89-%D8%A7%D9%84%D9%88%D8%A7%D8%AD%D8%AF-%D9%84%D9%84%D8%AA%D8%B3%D9%88%D9%8A%D9%82-%D8%A7%D9%84%D8%B1%D9%82%D9%85%D9%8A-47b753417/"
                                    target="_blank" class="btn-click magnetic" data-strength="20"
                                    data-strength-text="10">
                                    <span class="btn-text">
                                        <span class="social-icon social-icon-linkedin"></span>
                                        <span class="btn-text-inner">LinkedIn</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrap" data-scroll-container>
