<div class="nav-bar">
                    <div class="credits-top">
                        <div class="btn btn-link btn-left-top btn-logo">
                            <a href="/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="brand-mark">
                                        <img src="https://zero2one.sa/assets/icons/logo-z2o.webp" width="167" height="77" alt="" fetchpriority="high" />
                                        <span class="brand-label">ZERO 2 ONE</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <ul class="links-wrap">
                        <li class="btn btn-link">
                            <a href="/about/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">About Us</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/services/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">Our Services</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/#testimonials" class="btn-click magnetic" data-strength="20"
                                data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">Testimonials</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/work/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">Our Work</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/blog/" class="btn-click magnetic" data-strength="20" data-strength-text="10" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">Blog</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link btn-contact">
                            <a href="/contact/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">Contact Us</span>
                                </span>
                            </a>
                        </li>
                    <li class="btn btn-link btn-lang">
                            <a href="/ar/" class="btn-click magnetic" data-strength="20" data-strength-text="10"
                                hreflang="ar" lang="ar" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">العربية</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
