<div class="nav-bar">
                    <div class="credits-top">
                        <div class="btn btn-link btn-left-top btn-logo">
                            <a href="/ar/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="brand-mark">
                                        <img src="https://zero2one.sa/assets/icons/logo-z2o.webp" width="167" height="77" alt="" fetchpriority="high" />
                                        <span class="brand-label">من الصفر إلى الواحد</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <ul class="links-wrap">
                        <li class="btn btn-link">
                            <a href="/ar/about/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">من نحن</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/services/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">خدماتنا</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/#testimonials" class="btn-click magnetic" data-strength="20"
                                data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">آراء العملاء</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/ar/work/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">أعمالنا</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link">
                            <a href="/blog/ar/" class="btn-click magnetic" data-strength="20" data-strength-text="10" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">المدونة</span>
                                </span>
                            </a>
                        </li>
                        <li class="btn btn-link btn-contact">
                            <a href="/ar/contact/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                                <span class="btn-text">
                                    <span class="btn-text-inner">تواصل معنا</span>
                                </span>
                            </a>
                        </li>
                    <li class="btn btn-link btn-lang">
                            <a href="{{ with $.AllTranslations }}{{ range . }}{{ if ne .Lang $.Lang }}{{ .RelPermalink }}{{ end }}{{ end }}{{ else }}{{ if eq $.Lang "ar" }}/blog/{{ else }}/blog/ar/{{ end }}{{ end }}" class="btn-click magnetic" data-strength="20" data-strength-text="10"
                                hreflang="en" lang="en" data-barba-prevent>
                                <span class="btn-text">
                                    <span class="btn-text-inner">English</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
