{{ define "main" }}
<div class="blog-index">
  <h1>{{ .Title }}</h1>
  {{- with .Content }}<div class="blog-intro">{{ . }}</div>{{ end }}
  {{- partial "category-nav.html" . }}
  {{- $posts := where .Site.RegularPages "Type" "page" }}
  {{- $posts = where $posts "Params.archived" "ne" true }}
  {{- if $posts }}
  <ul class="cards">
    {{- range $posts.ByDate.Reverse }}
    {{- partial "post-card.html" . }}
    {{- end }}
  </ul>
  {{- else }}
  <p class="empty">{{ T "noPosts" }}</p>
  {{- end }}
</div>
{{ end }}
